absl-py==1.1.0+computecanada
ale-py==0.7.5+computecanada
antlr4-python3-runtime==4.9.3+computecanada
appdirs==1.4.3+computecanada
arch==5.0.1
argon2-cffi==21.3.0+computecanada
argon2-cffi-bindings==21.2.0+computecanada
asciitree==0.3.3+computecanada
asttokens==2.0.5+computecanada
astunparse==1.6.3+computecanada
async-timeout==4.0.2+computecanada
atari-py==0.2.6
attrs==21.4.0+computecanada
Automat==22.10.0
AutoROM==0.4.2
AutoROM.accept-rom-license==0.4.2
backcall==0.2.0+computecanada
beautifulsoup4==4.11.1+computecanada
bitmath==1.3.3.1
bleach==5.0.0+computecanada
bokeh==2.4.3+computecanada
cached-property==1.5.2+computecanada
cachetools==4.2.4+computecanada
castepxbin==0.3.0
certifi==2022.5.18.1+computecanada
cffi==1.15.0+computecanada
chardet==4.0.0+computecanada
charset-normalizer==2.0.12+computecanada
chex==0.1.7+computecanada
click==7.1.2+computecanada
cloudpickle==1.6.0+computecanada
colorama==0.4.6+computecanada
colormath==3.0.0+computecanada
commonroad-io==2023.1
commonroad-vehicle-models==3.0.2
constantly==15.1.0
contourpy==1.0.7+computecanada
coverage==7.2.0+computecanada
crafter==1.8.1
cycler==0.11.0+computecanada
Cython==0.29.14+computecanada
debugpy==1.6.0+computecanada
decorator==4.4.2+computecanada
defusedxml==0.7.1+computecanada
deprecation==2.1.0+computecanada
DI-toolkit==0.2.0
DI-treetensor==0.4.1
dill==0.3.7+computecanada
distlib==0.3.0
dm-tree==0.1.8+computecanada
docker-pycreds==0.4.0+computecanada
easydict==1.9+computecanada
einops==0.3.0
entrypoints==0.4+computecanada
enum-tools==0.10.0
execnet==1.9.0+computecanada
executing==0.8.3+computecanada
fasteners==0.17.3+computecanada
fastjsonschema==2.15.3+computecanada
ffmpeg==1.4
filelock==3.0.12+computecanada
Flask==1.1.4
flatbuffers==20190709135844+computecanada
folium==0.2.1
fonttools==4.39.3+computecanada
future==0.18.2+computecanada
gast==0.4.0+computecanada
gitdb==4.0.9+computecanada
gitpython==3.1.27+computecanada
glfw==1.12.0+computecanada
google-auth==1.35.0+computecanada
google-auth-oauthlib==0.4.6+computecanada
google-pasta==0.2.0+computecanada
graphviz==0.20.1+computecanada
grpcio==1.32.0+computecanada
gtrxl-torch==0.1.7
gym==0.19.0
gym-notices==0.0.8
gymnasium==0.27.0
gymnasium-notices==0.0.1+computecanada
h5py==3.8.0+computecanada
hbutils==0.9.1
hickle==5.0.2
hydra-core==1.2.0+computecanada
hyperlink==21.0.0+computecanada
idna==3.3+computecanada
ijson==3.2.0.post0
imageio==2.9.0+computecanada
imageio-ffmpeg==0.4.2+computecanada
importlib-metadata==4.11.4+computecanada
importlib-resources==5.7.1
incremental==22.10.0
iniconfig==2.0.0
ipykernel==6.14.0
ipython==8.4.0+computecanada
ipython-genutils==0.2.0+computecanada
ipywidgets==7.7.0
iso3166==2.1.1
itsdangerous==1.1.0+computecanada
jax==0.4.13+computecanada
jax-jumpy==1.0.0+computecanada
jaxlib==0.4.13+cuda11.cudnn86.computecanada
jedi==0.18.1+computecanada
Jinja2==2.11.3+computecanada
joblib==1.2.0+computecanada
jsonpatch==1.32
jsonpointer==2.3+computecanada
jsonschema==4.6.0+computecanada
jupyter-client==7.3.4+computecanada
jupyter-core==4.10.0+computecanada
jupyterlab-pygments==0.2.2+computecanada
jupyterlab-widgets==1.1.0
kaggle==1.5.13
keras==2.11.0+computecanada
kiwisolver==1.3.2+computecanada
libclang==14.0.1+computecanada
lxml==4.9.1+computecanada
lz4==4.3.2+computecanada
Markdown==3.3.7+computecanada
markdown-it-py==2.2.0+computecanada
markupsafe==2.0.1+computecanada
matplotlib==3.7.0+computecanada
matplotlib-inline==0.1.6
mdurl==0.1.2+computecanada
mistune==0.8.4+computecanada
ml-dtypes==0.1.0+computecanada
monty==2023.5.7
more-itertools==8.2.0+computecanada
moviepy==1.0.3+computecanada
mpire==2.7.1
mpmath==1.3.0+computecanada
mujoco-py==2.1.2.14
nbclient==0.6.4
nbconvert==6.5.0+computecanada
nbformat==5.4.0+computecanada
nest-asyncio==1.5.5+computecanada
networkx==3.1+computecanada
notebook==6.4.12+computecanada
numcodecs==0.8.0+computecanada
numpy==1.24.2+computecanada
oauthlib==3.2.0+computecanada
omegaconf==2.2.3+computecanada
opencv-contrib-python-headless==4.6.0.66
opencv-python==4.1.2.30+computecanada
opendrive2lanelet==1.2.1
opensimplex==0.4.4
opt-einsum==3.3.0+computecanada
optax==0.1.7
packaging==21.3+computecanada
palettable==3.3.3
panda3d==1.10.8+computecanada
panda3d-gltf==0.13
panda3d-simplepbr==0.10
pandas==1.5.3+computecanada
pandocfilters==1.5.0+computecanada
parso==0.8.3+computecanada
pathtools==0.1.2+computecanada
patsy==0.5.3+computecanada
PettingZoo==1.22.3
pexpect==4.8.0+computecanada
phonopy==2.17.1+computecanada
pickleshare==0.7.5+computecanada
Pillow==8.1.2+computecanada
Pillow-SIMD==7.0.0.post3+computecanada
pkgutil-resolve-name==1.3.10+computecanada
plotly==5.14.1
pluggy==1.0.0+computecanada
proglog==0.1.10
prometheus-client==0.14.1+computecanada
promise==2.3+computecanada
prompt-toolkit==3.0.29+computecanada
property-cached==1.6.4+computecanada
protobuf==3.20.1+computecanada
psutil==5.9.0+computecanada
PTable==0.9.2
ptyprocess==0.7.0+computecanada
pure-eval==0.2.2+computecanada
py==1.11.0+computecanada
py-cpuinfo==9.0.0+computecanada
pyasn1==0.4.8+computecanada
pyasn1-modules==0.2.8+computecanada
pybullet==3.0.6
pycparser==2.21+computecanada
pygame==2.1.0+computecanada
pyglet==1.5.0+computecanada
Pygments==2.15.1+computecanada
pymap3d==2.7.0
pymatgen==2022.0.10+computecanada
pynng==0.7.1+computecanada
PyOpenGL==3.1.6
pyparsing==2.4.7+computecanada
pyproj==3.3.0+computecanada
pyrsistent==0.18.1+computecanada
pytest==7.0.1+computecanada
pytest-benchmark==4.0.0
pytest-cov==4.0.0+computecanada
pytest-forked==1.6.0
pytest-xdist==3.2.1
python-dateutil==2.8.2+computecanada
python-slugify==8.0.1
pytimeparse==1.1.8+computecanada
pytz==2022.1+computecanada
PyWavelets==1.3.0+computecanada
PyYAML==6.0+computecanada
pyzmq==23.1.0+computecanada
readerwriterlock==1.0.9
redis==4.6.0
requests==2.28.0+computecanada
requests-oauthlib==1.3.1+computecanada
responses==0.12.1+computecanada
rich==13.3.5
rliable==1.0.7
rsa==4.8+computecanada
Rtree==1.0.1+computecanada
ruamel-yaml-clib==0.2.6+computecanada
ruamel.yaml==0.17.4
scikit-image==0.19.3+computecanada
scikit-learn==1.1.2+computecanada
scipy==1.8.0+computecanada
seaborn==0.12.2+computecanada
seekpath==2.0.1
send2trash==1.8.0+computecanada
sentry-sdk==1.9.9
setproctitle==1.3.2
setuptools-scm==3.5.0+computecanada
sh==2.0.3
shapely==2.0.1+computecanada
Shimmy==0.2.1
shortuuid==1.0.9
six==1.14.0+computecanada
smmap==5.0.0+computecanada
sniffio==1.3.0+computecanada
soupsieve==2.3.2.post1+computecanada
spglib==2.0.2+computecanada
stable-baselines3==1.5.0
stack-data==0.2.0+computecanada
statsmodels==0.13.5+computecanada
sympy==1.11.1+computecanada
tableprint==0.9.1
tabulate==0.9.0+computecanada
tenacity==8.2.2
tensorboard==2.11.2+computecanada
tensorboard-data-server==0.6.1+computecanada
tensorboard-plugin-wit==1.8.1+computecanada
tensorboardX==2.6.2
tensorflow==2.11.0+computecanada
tensorflow-estimator==2.11.0+computecanada
tensorflow-io-gcs-filesystem==0.26.0+computecanada
tensorflow-probability==0.21.0+computecanada
termcolor==2.3.0
terminado==0.15.0+computecanada
text-unidecode==1.3+computecanada
tf-estimator-nightly==2.8.0.dev2021122109+computecanada
threadpoolctl==3.1.0+computecanada
tifffile==2023.4.12+computecanada
tinycss2==1.1.1+computecanada
tomli==2.0.1+computecanada
toolz==0.12.0+computecanada
torch==1.8.1+computecanada
torchfile==0.1.0+computecanada
torchvision==0.9.1+computecanada
tornado==6.1+computecanada
tqdm==4.64.0+computecanada
traitlets==5.2.2.post1
transforms3d==0.3.1+computecanada
treevalue==1.4.11
trimesh==3.9.29
trueskill==0.4.5
Twisted==22.10.0
typing-extensions==4.5.0+computecanada
uncertainties==3.1.7
urllib3==1.26.12+computecanada
URLObject==2.4.3
virtualenv==20.0.18
visdom==0.1.8.9+computecanada
wandb==0.13.3
wcwidth==0.2.5+computecanada
webencodings==0.5.1+computecanada
websocket-client==1.5.1+computecanada
Werkzeug==1.0.1+computecanada
widgetsnbextension==3.6.0
wrapt==1.15.0+computecanada
yacs==0.1.8+computecanada
yapf==0.29.0
yattag==1.15.1
zarr==2.11.3
zipp==3.8.0+computecanada
zope.interface==5.4.0+computecanada
